@import '/src/styles/variables.module';
@import '/src/styles/media.module';

.doubleCard {
  position: relative;
  height: 352px;
  grid-column: span 2;

  .media {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;

    -webkit-filter: brightness(.6);
    filter: brightness(.6);
  }

  .textContent {
    position: absolute;
    left: 0;
    bottom: 0;

    padding: $gap-xl;
  }

  .title {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;

    font-size: 32px;
    line-height: 40px;
    font-weight: 500;

    color: white;
  }

  @include media-hor-tablet {
    .title {
      font-size: 24px;
      line-height: 28px;
      font-weight: 700;
    }
    .textContent {
      padding: $gap-l;
    }
  }

  @include media-mobile {
    max-height: 320px;
  }

}