@import '/src/styles/variables.module';
@import '/src/styles/media.module';

.fullwidthText {
  position: relative;
  height: 400px;

  .media {
    position: absolute;
    left: 0;
    right: 50%;
    bottom: 0;
    top: 0;
    width: 50%;
  }

  .textContent {
    position: absolute;
    left: 50%;
    right: 0;
    bottom: 0;
    top: 0;

    background-color: #1f232d;
    padding: $gap-l;
  }

  .title {
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;

    color: white;
  }

  .subtitle {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;

    color: $ligth-gray;

    margin-top: $gap;
  }

  .date {
    position: absolute;
    bottom: 24px;
    right: 24px;
    left: 24px;
    color: $ligth-gray;
  }

}