@import '/src/styles/variables.module';
@import '/src/styles/media.module';

.smallCard {
  position: relative;
  height: 200px;

  .media {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;

    -webkit-filter: brightness(.6);
    filter: brightness(.6);
  }

  .textContent {
    position: absolute;
    left: 0;
    bottom: 0;

    padding: $gap;
  }

  .title {
    font-size: $gap;
    line-height: 22px;
    font-weight: 500;
    color: white;
  }

  .date {
    color: white;
  }

}